.container{
	margin-top: 40px;
}
.editedpoll ul, .editedpoll div {
	padding-top: 7px;
}
.padding{
	padding-top:0;
}
.editedpoll li{
	list-style-type: none;
}
.circle{
	border-radius: 50% ;
	margin-right: 5px;
	padding: 1px 5px;
	background-color: #00CC66;
}